:root {
    /* Color Variables */
    --body-background-color: #EFEFEF;
    --nav-list-items-color: #A2B9D8;
    --headings-color: #333333; 
    --subheadings-color: #2C2C2C; 
    --body-text-color: #050907;
    --buttons: #85C7D1;
    --buttons-hover: #AED9E0;
  
  
    /* Content Background Colors */
    --content-background-odd: #FCDADA;
    --content-background-even: #F7F3E9;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    background-color: var(--body-background-color);
}

body h1, h2, h3 {
  font-family: Nunito;
}

body p {
  font-family: Poppins;
}

body h2 {
  font-weight: 400;
}



/* Header styles */
header {
    position: relative;
  }
  
  header h1 {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--headings-color)
  }

  header p {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
    color: var(--body-text-color)
  }

  header img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center 100%;
  }

  .box {
    --mask:
      radial-gradient(49.42px at 50% calc(100% - 67.20px),#000 99%,#0000 101%) calc(50% - 48px) 0/96px 100%,
      radial-gradient(49.42px at 50% calc(100% + 43.20px),#0000 99%,#000 101%) 50% calc(100% - 24px)/96px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }


  .container .box2 {
    --mask:
      radial-gradient(53.67px at 50% 72.00px,#000 99%,#0000 101%) calc(50% - 48px) 0/96px 100%,
      radial-gradient(53.67px at 50% -48px,#0000 99%,#000 101%) 50% 24px/96px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  
/* Navigation styles */






/* Navigation styles All other pages */

    nav {
    position: absolute;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    z-index: 1;
  }
  
  nav ul {
    top: 0%;
    left: 50%; 
    right: 0%;
    left: 60%;
    transform: translate(-10%, 5%);
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: -25px auto 0 auto;
  }
 
  nav ul::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--nav-list-items-color);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -1px;
    left: -5px;
  }
  
  nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--nav-list-items-color);
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  nav ul li:hover {
   transform: scale(1.1);
  }


  
  .logo {
    width: 250px;
    height: auto;
    object-fit: contain;
    margin-bottom: 0px;
    margin-right: -150px;
  }

  #translateButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: -35px;
    padding: 5px;
    background-color: var(--content-background-odd);
    border-radius: 5px;
  }

  #translateButton img {
    width: 20px;
  }

  .flag {
    width: 30px;
    height: 20px;
    margin: 0 5px;
    transition: transform 0.3s;
    cursor: pointer;
  }

  .separator {
    height: 20px;
    margin: 0 5px;
    font-weight: bold;
    color: #ccc;
  }

  .flag.active {
    transform: scale(1.2);
  }
  
  .flag:hover {
    transform: scale(1.2);
  }




  /* Nav All other pages styles */
  
  .otherPageNav {
    position: relative;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    z-index: 1;
  }
  
  .otherPageNav ul {
   
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: -25px auto 0 auto;
  }
 
  /* .otherPageNav ul::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--nav-list-items-color);
    position: absolute;
    bottom: -1px;
    left: -5px;
  } */
  
  .otherPageNav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--nav-list-items-color);
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    font-weight: bold;
  }

  .otherPageNav ul li:hover {
   transform: scale(1.1);
  }


  
  .logo {
    width: 250px;
    height: auto;
    object-fit: contain;
    margin-bottom: 0px;
    margin-right: -150px;
  }

  #translateButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: -35px;
    padding: 5px;
    background-color: var(--body-background-color);
    border-radius: 5px;
  }

  #translateButton img {
    width: 20px;
  }

  .flag {
    width: 30px;
    height: 20px;
    margin: 0 5px;
    transition: transform 0.3s;
    cursor: pointer;
  }

  .separator {
    height: 20px;
    margin: 0 5px;
    font-weight: bold;
    color: #ccc;
  }

  .flag.active {
    transform: scale(1.2);
  }
  
  .flag:hover {
    transform: scale(1.2);
  }







 
/* Main styles */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -4px;
  }

  .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    width: 50%;
    height: 100%;
    padding: 20px;
    height: 400px;
  }

  .section-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--subheadings-color)
  }

  .section-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
    color: var(--body-text-color)
  } 

  .section-image {
    flex-basis: 50%;
    max-width: 50%;
    height: 400px;
  }

  /* Apply different background colors */
  #section1, #section3 {
    background-color: var(--content-background-odd);
  }
  
  #section2, #section4 {
    background-color: var(--content-background-even);
  }



  

  .banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 250px;
  }

  .banner-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--subheadings-color)
  }

    .banner-content p {
        width: 50%;
        font-size: 1.25rem;
        margin-bottom: 20px;
        text-align: center;
        color: var(--body-text-color)
    }

    .btn-explore {
        padding: 10px 20px;
    background-color: var(--buttons);
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;
    text-decoration: none;
    }

    .btn-explore:hover {
        background-color: var(--buttons-hover)  
    }

.section-btn {
  padding: 10px 20px;
  background-color: var(--buttons);
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 40px;
  text-decoration: none;
}

.section-btn:hover {
  background-color: var(--buttons-hover)  
}

   /* footer styles */

   footer {
    background-color: #111;
    padding: 25px 25px;
  }
  
  .footer-contatiner {
    width: 100%;
    padding: 70px 30px 20px;
  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-icons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }
  
  .footer-icons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
  }
  
  .footer-logo-left img,
  .footer-logo-right img {
    transform: scale(1.4);
    height: 100px;
    margin-left: 150px;
    margin-right: 150px;
    filter: brightness(0) invert(1);
  }
  
  /* Footer Hover */
  
  .footer-icons a:hover {
    background-color: #111;
    transform: 0.5s;
  }
  
  .footer-icons a:hover i {
    color: white;
    transform: 0.5s;
  }
  
  .footer-nav {
    margin: 30px 0;
  }
  
  .footer-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .footer-nav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  }
  
  .footer-nav ul li a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  
  /* Footer Media Query */
  
  @media (max-width: 700px) {
    .footer-nav ul {
      flex-direction: column;
    }
    .footer-nav ul li {
      width: 100%;
      text-align: center;
      margin: 10px;
    }
  
    .footer-logo-left img,
    .footer-logo-right img {
      display: none;
    }
  }




/* About page */

.om-oss-heading {
  font-size: 3rem;
  color: var(--headings-color);
  text-align: center;
  margin: 20px 0 20px 0;
  padding: 10px;
}


.om-oss-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.om-oss-content0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--content-background-even); */
}

.om-oss-content0 .text {
  font-size: 1.25rem;
  width: 80%;
  text-align: center;
  margin: 20px 0 20px 0;
}

.om-oss-content0 .image img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: auto;
}

.column-container {
  display: flex;
  
  align-items: center;
}

.om-oss-content1 {
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* margin-bottom: 50px; */
  /* background-color: var(--body-background-color); */
  padding: 20px;
}

.container-columm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.om-oss-content1 .text {
  font-size: 1.25rem;
  width: 80%;
  text-align: center;
flex: 1;
  margin: -150px 200px 0 50px;
}

.om-oss-content1 .image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
 
}

.om-oss-content1 .image img {
  max-width: 100%;
  height: 450px;

}

.om-oss-sub-heading {
  font-size: 2rem;
  color: var(--headings-color);
  text-align: center;
  margin: 20px 0;
  padding: 10px;
}







.om-oss-content2-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  margin-bottom: 50px;
  /* background: linear-gradient(to right, var(--content-background-odd) 50%, var(--content-background-even) 50%); */
}

.om-oss-content2 {
  display: flex;
  justify-content: center;
  
}

.person {
  width: 50%;
  display: flex;
  padding: 20px;
}

.person img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
}

.person-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 0 20px 0;
  width: 80%;
}



.person .person.name h3 {
  margin-bottom: 5px;
}

.person p.person-role {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.person .person-text {
  font-size: 1.25rem;
  margin: 30px 0 30px 0;
  width: 80%;
}

#person1 {
  background-color: var(--content-background-odd); /* Color for person 1 */
}

#person2 {
  background-color: var(--content-background-even); /* Color for person 2 */
}

#person3 {
  background-color: var(--content-background-even);
}

#person4 {
  background-color: var(--content-background-odd);
}

.om-oss-content3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  margin-top: -50px;
  /* background-color: var(--body-background-color); */
}

.om-oss-content3 .text {
  font-size: 1.25rem;
  width: 80%;
  text-align: center;
flex: 1;
  margin: -150px 50px 0 200px;
}

.om-oss-content3 .image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.om-oss-content3 .image img {
  max-width: 100%;
  height: 450px;
}





.om-oss-content3 .text {
  font-size: 1.25rem;
  width: 80%;
  text-align: center;
flex: 1;
  margin: -150px 50px 0 190px;
}

.om-oss-content3 .image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.om-oss-content3 .image img {
  max-width: 100%;
  height: 450px;
}






/* Om oss content4 */



.om-oss-content4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
  margin-top: -0px;
  /* background-color: var(--content-background-odd); */
}

.om-oss-content4 .text {
  font-size: 1.25rem;
  width: 80%;
  text-align: center;
flex: 1;
  margin: -150px 180px 0 50px;
}

.om-oss-content4 .image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.om-oss-content4 .image img {
  max-width: 100%;
  height: 450px;
}



    /* contact page */


    .contact-header {
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      padding: 20px 0 20px 0;
      margin-top: -130px;
      gap: 20px;
    }
    
    .contact-us {
      display: flex;
      text-align: center;
      justify-content: center;
      margin-top: 150px;
      margin-bottom: 8px;
      font-size: 2.5rem;
    }
    
    .contact-p {
      display: flex;
      text-align: center;
      justify-content: center;
      width: 70ch;
      margin: auto;
      margin-block: 20px;
      font-size: 1.2rem;
    }
    
    .contact-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 120px;
      margin-top: 13px;
      margin-bottom: 25px;
    }
    
    .contact-icons i {
      font-size: 65px;
    }
    
    .contact-icons p {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
    }
    
    .contact-nav-ul {
      margin: unset;
    }

    .contact-icons div {
      cursor: pointer;
      transition: transform 0.3s;
    }
    
    .contact-icons div:hover {
      transform: scale(1.1);
    }
    

    form {
        max-width: 600px;
        margin: 0 auto;
        padding: 30px;
    }
    
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }
    
    label {
        display: block;
        margin-bottom: 8px;
    }
    
    input,
    select,
    textarea {
        width: 100%;
        padding: 8px;
        border: none;
        border-bottom: 1px solid #000; 
        margin-bottom: 16px;
        box-sizing: border-box;
    }
    
    button {
        background-color: #000;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }